<div
  *ngFor="let Task of database.DATABASE.column_1"
  class="bg-primary-400 rounded-button mb-2 border-l-6 border-border-green"
>
  <div class="p-2 border-b border-white-400">
    <div class="flex justify-between">
      <span>
        <p class="text-white-100 text-h4 mb-0">{{ Task.title }}</p>
        <p class="text-white-400 text-caption mb-2">Assigned to you</p>
      </span>
      <div
        class="bg-border-green bg-opacity-50 flex justify-center items-center rounded-full h-5 w-5"
      >
        <p class="text-border-green">91</p>
      </div>
    </div>
    <p class="text-white-100 text-caption">
      {{ Task.description }}
    </p>
  </div>
  <div class="flex justify-between py-1 px-2">
    <a href="#">
      <img class="w-2.5 h-2.5" src="./assets/notes.svg" alt="notes" />
    </a>
    <a href="#">
      <img class="w-2.5 h-2.5" src="./assets/list.svg" alt="notes" />
    </a>
    <a class="flex" href="#">
      <img class="w-2.5 h-2.5 mr-0.5" src="./assets/user.svg" alt="notes" />
      <p class="text-white-400">2</p>
    </a>
    <a class="flex" href="#">
      <img class="w-2.5 h-2.5 mr-1" src="./assets/date.svg" alt="notes" />
      <p class="text-white-400">3/12</p>
    </a>
  </div>
</div>
