<div class="bg-primary-200 h-full relative">
  <button
    matTooltip="add Task"
    class="bg-secondary-100 px-2 py-1 rounded-smaller absolute right-5 bottom-5"
  >
    <div class="flex items-center gap-2">
      <img
        class="w-3 h-3 rounded-full p-0.25 border border-white-400"
        src="./assets/plus-button.svg"
        alt="plus"
      />
      <p class="text-white-400">Add a Task</p>
    </div>
  </button>
  <h2
    class="pl-4 mb-0 py-3 text-white-400 font-normal border-b border-white-400"
  >
    View:
  </h2>
  <div *ngFor="let row of database.DATABASE.column_1">
    <div class="flex h-screen bg-primary-300">
      <div
        class="h-full min-w-custom max-w-custom border-r border-white-400 px-3"
      >
        <div class="flex justify-between mx-3 mt-3 mb-5">
          <p
            matBadgeOverlap="false"
            matBadge="{{ database.DATABASE.column_1.length }}"
            class="text-white-100"
          >
            Backlog
          </p>
          <button
            (click)="openDialog('To Do')"
            matTooltip="add Task"
            class="rounded-full border-secondary-100 border-2 p-0.25"
          >
            <img class="w-2.5 h-2.5" src="./assets/plus.svg" alt="plus" />
          </button>
        </div>
        <app-single-task></app-single-task>
      </div>
    </div>
  </div>
</div>
