<div class="bg-white-100">
  <h2 class="ml-4 pt-5 text-h4">Board</h2>
  <div class="grid grid-cols-3 h-screen bg-white-100">
    <div class="h-full bg-gray-100 ml-1 rounded-small">
      <p class="ml-3 mt-3 mb-6 text-gray-200">To Do 29</p>
      <div class="bg-white-100 rounded-small mx-1">
        <p class="py-2 px-2 text-gray-200">Implement feedback collector</p>
        <div class="flex justify-end">
          <span class="flex items-center pb-2 mx-2">
            <p class="text-gray-200 mr-1">SMS-001</p>
            <p
              class="
                flex
                items-center
                justify-center
                w-4
                h-4
                rounded-full
                bg-red
                text-white-100
              "
            >
              J
            </p>
            <!-- <img src="" alt=""> -->
          </span>
        </div>
      </div>
    </div>
    <div class="h-full bg-yellow ml-1 rounded-small">
      <span class="ml-3 mt-3 mb-5 flex items-center">
        <p class="text-gray-200 mr-10">in Progress 3</p>
        <p class="rounded-button bg-max py-0.5 px-1">MAX 3</p>
      </span>
      <div class="bg-white-100 rounded-small mx-1">
        <p class="py-2 px-2 text-gray-200">Implement feedback collector</p>
        <div class="flex justify-end">
          <span class="flex items-center pb-2 mx-2">
            <p class="text-gray-200 mr-1">SMS-001</p>
            <p
              class="
                flex
                items-center
                justify-center
                w-4
                h-4
                rounded-full
                bg-red
                text-white-100
              "
            >
              J
            </p>
            <!-- <img src="" alt=""> -->
          </span>
        </div>
      </div>
    </div>
    <div class="h-full bg-gray-100 mx-1 rounded-small">
      <p class="ml-3 mt-3 mb-6 text-gray-200">Done 21</p>
      <div class="bg-white-100 rounded-small mx-1">
        <p class="py-2 px-2 text-gray-200">Implement feedback collector</p>
        <div class="flex justify-end">
          <span class="flex items-center pb-2 mx-2">
            <p class="text-gray-200 mr-1">SMS-001</p>
            <p
              class="
                flex
                items-center
                justify-center
                w-4
                h-4
                rounded-full
                bg-red
                text-white-100
              "
            >
              J
            </p>
            <!-- <img src="" alt=""> -->
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
