<div class="bg-white-100 h-full">
  <h2 class="ml-4 pt-5 text-h4">Add new Task</h2>
  <form
    (submit)="database.addToDatabase(task, task.column)"
    class="h-full p-10 bg-gray-100 rounded-small m-1 grid grid-cols-1 lg:grid-cols-2 gap-2"
  >
    <!-- TODO: VALIDATE FORM  -->
    <div>
      <div>
        <p class="mb-1">Title</p>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Title</mat-label>
          <input id="title" name="title" [(ngModel)]="task.title" matInput />
        </mat-form-field>
      </div>

      <div>
        <p class="mb-1">Column</p>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Column</mat-label>
          <input
            id="category"
            name="category"
            [(ngModel)]="data.column"
            matNativeControl
            readonly
            required
          />
        </mat-form-field>
      </div>

      <div>
        <p class="mb-1">Description</p>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            id="description"
            name="description"
            [(ngModel)]="task.description"
            matInput
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div>
      <div>
        <p class="mb-1">Choose a Date</p>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input
            id="date"
            name="date"
            [(ngModel)]="task.date"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="mb-2">
        <p class="mb-1">Importance</p>
        <mat-form-field class="w-full" appearance="fill">
          <mat-label>Importance</mat-label>
          <select
            id="importance"
            name="importance"
            [(ngModel)]="task.importance"
            matNativeControl
            required
          >
            <option value="high">High</option>
            <option value="low">Low</option>
          </select>
        </mat-form-field>
      </div>

      <div class="w-full h-14 flex justify-end items-end gap-2">
        <button mat-dialog-close mat-raised-button>Cancle</button>
        <button
          type="submit"
          [disabled]="database.savingProcessingRunning"
          mat-raised-button
          color="primary"
        >
          Add
        </button>
      </div>
    </div>
    <div *ngIf="database.savingSucess">
      <p class="text-blue-200 shadow-small p-2 rounded">
        Your Task has ben sucessfull created
      </p>
    </div>

    <div *ngIf="database.maxTask">
      <p class="text-red shadow-small p-2 rounded">
        The Row you choosed is currently filled with 3 Task, change your
        Selection or reorder your Board!
      </p>
    </div>
  </form>
</div>
