<mat-drawer-container class="example-container h-screen">
  <mat-drawer class="bg-blue-200" mode="side" opened>
    <div class="flex flex-col items-center">
      <div
        class="
          w-6
          h-6
          transform
          rotate-45
          bg-white-100
          my-6
          flex
          items-center
          justify-center
        "
      >
        Logo
      </div>
      <ul class="list-none">
        <li class="px-5 mb-3">
          <a class="flex" routerLink="board">
            <fa-icon class="mr-2 text-white-100" [icon]="faList"></fa-icon>
            <p class="text-white-100">List</p>
          </a>
        </li>
        <li class="px-5 mb-3">
          <a class="flex" routerLink="addtask">
            <fa-icon class="mr-2 text-white-100" [icon]="faList"></fa-icon>
            <p class="text-white-100">add ToDo</p>
          </a>
        </li>
        <li class="px-5">
          <a class="flex" routerLink="help">
            <fa-icon class="mr-2 text-white-100" [icon]="faList"></fa-icon>
            <p class="text-white-100">Help</p>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
