<mat-drawer-container class="example-container h-screen">
  <mat-drawer
    class="bg-primary-100 border-r border-white-400"
    mode="side"
    opened
  >
    <div class="flex h-full py-2 px-2 flex-col items-center">
      <img
        class="w-5 h-5 mb-4 object-cover rounded-full border-2 border-white-400"
        src="./assets/about.jpg"
        alt=""
      />
      <ul class="list-none">
        <li class="mb-3">
          <a class="flex" routerLink="board">
            <img class="w-5 h-5" src="./assets/list.svg" alt="list" />
          </a>
        </li>
        <li class="">
          <a class="flex text-white-400" routerLink="help">
            <img class="w-5 h-5" src="./assets/help.svg" alt="list" />
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
